<% content_for(:title) do %>
  <%= @restaurant.name %> is on Yelp!
  <% end %>
<div class= "container">
  <div class= "column">
  <div class="restaurant-card">
    <h1><%= @restaurant.name %></h1>
    <p>
    <strong> Cuisine: <%="#{@restaurant.category.capitalize}" %></strong>
    </p>
    <p>
    <strong><%= "Address: #{@restaurant.address}" %></strong>
    </p>
    <strong><%= "Phone: #{@restaurant.phone_number}" %></strong>
  </div>
<br>
<h2>Reviews:</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %></li>
  <b><%= "#{review.rating} stars" %></b>
<% end %>
</ul>
<p>
<%= button_to "Add a review", new_restaurant_review_path(@restaurant), method: "get" %>
</p>
<hr>

<%= link_to restaurants_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
</div>
</div>

  <div>








